.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .grid {
      grid-template-columns: repeat(4, 1fr);
  }
}

.grid a img {
  transition: all .2s ease-in;
  filter: grayscale(100%);
}

.grid a:hover img {
  filter: grayscale(0);
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}